<link rel="stylesheet" href="/static/style.css" type="text/css">
{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}


<form action="/registerUser" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<h3>Συμπληρώστε τα παρακάτω στοιχεία για να αποκτήσετε πρόσβαση</h3>
			</div>

			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="Enter Email" name="userName">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="Enter Password" name="userPass">
				<label class="login-field-icon fui-user" for="login-pass"></label>
				</div>

				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="Enter Last Name" name="lastname">
				<label class="login-field-icon fui-user" for="login-pass"></label>
				</div>

				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="Enter First Name" name="firstname">
				<label class="login-field-icon fui-user" for="login-pass"></label>
				</div>

				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="Enter Daddy Name" name="daddy">
				<label class="login-field-icon fui-user" for="login-pass"></label>
				</div>

				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="Enter Mommy" name="mommy">
				<label class="login-field-icon fui-user" for="login-pass"></label>
				</div>

				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="Enter Birth Date" name="birthdate">
				<label class="login-field-icon fui-user" for="login-pass"></label>
				</div>

                <input type="submit" value="Εγγραφή" class="btn btn-primary btn-large btn-block" >
			    <br>
					<a class="btn btn-sm " href="/loginPage">Login</a>

			</div>
		</div>
	</div>
</form>

{% endif %}
{% endblock %}
